body {
    display: flex;
    flex-flow: row wrap;
    height: 800px;
    border: 2px solid red;
    border-radius: 10px;
}

div {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 2px;
    margin: 10px;
    background-color: red;
    flex-grow: 1;
}

.grow {
    flex-grow: 2;
}