/* Sets color to div green as well as add width, height, and border */
div {
    width: 300px;
    height: 120px;
    border: double;
    color: green;
}
/* Sets width height and border for h1 */
h1 {
    width: 250px;
    height: 80px;
    border: solid;
}
/* Sets color, width, height, and border for p */
p {
    width:250px;
    height: 18px;
    border: dashed;
    color:cadetblue;
}
/* Sets all p after div to red */
div > p {
    color:red;
}
/* Overrights default cadetblue color to blue for second p*/
p:nth-child(2) {
    color: blue;
}
/* Sets div class to purple */
.purple {
    color: purple;
}
/* Sets yellow to p with ID */
#yellow {
    color: yellow;
}
/* Overrights cadetblue color to aqua for p elements*/
.aqua {
    color: aqua;
}
/* Sets second div to brown */
div:nth-child(2) {
    color: brown;
}
/* Sets only h1 to chartreuse */
h1:only-child {
    color:chartreuse
}
/* Sets the last h1 to cornflowerblue */
h1:last-child {
    color:cornflowerblue
}

