/* First */
li:first-child {
    color: blue;
}
/* Last */
li:last-child {
    color: red;
}
/* Even */
ul:nth-child(even){
    color: green;
}
/* Odd */
ul:nth-child(odd){
    color: purple;
}
/* Nth-Child */
li:nth-child(3){
    color:yellow;
}
/* an + b */
li:nth-child(2n+2){
    color: brown;
}
/* Only-Child */
p:only-child{
    text-decoration: underline;
}

